/*     sample nav bar*/
body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/*   form  */

.formtemplate{
    background: #f1f1f1;
    width: 30%;
}
.section{
    margin: 20px 10px 10px 10px;
}
.section input{
            margin: 0 auto;
            padding: 5px 0 5px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
    
            height: 30px;
            border: 2px solid #e1dede69;
            border-radius: 5px;
            background: white;
            color: black;
            text-align: center;
            outline: none;
            font-size: 15px;
}
.section1{
    margin: 20px 10px 10px 10px;
}
.section1 input{
    
            margin: 0 auto;
            padding: 5px 0 5px 0;
            flex-direction: column;
            align-items: center;
            width: 44.5%;
    
            height: 30px;
            border: 2px solid #e1dede69;
            border-radius: 5px;
            background: white;
            color: black;
            text-align: center;
            outline: none;
            font-size: 15px;
}
.signup{
            margin: auto;
            font-size: 20px;
            padding: 8px;
            width: 280px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: rgb(75, 61, 61);
            background: #14b38a;
}
.options {
    padding-top: 15px;
    margin: auto;
    font-size: 13px;
}
.accept-box {
    align-items: center;
    margin: auto;
    font-size: 15px;
}
/*     order history card view     */

.gridorderhistory{
    display: grid;
    column-gap: 25px;
    grid-template-columns: auto auto auto;
}
.ads{
    margin: 10px 10px 0 0;
}
#searchInput{
    padding: 5px;
    font-size: 18px;
}
.filter{
    padding: 0 10px 0 10px;
    font-family: Copperplate Gothic Light;
    border-radius: 8px;
    height: 330px;
    margin: 25px 0 10px 20px;
    background: #fbb124;
}
.filter input{
    margin: 0 10px 0 0;
}
#filterheader{
    margin-bottom: 17px;
    margin-top: 17px;
}
.labelfont{
    font-size: 18px;
    font-family: candara;
}
#sortbutton{
    width: 65%;
    padding: 2px 0 2px 0;
    margin: 10px 0 0 0;
    border-radius: 8px;
}
#leftads{
    margin: 25px 0 10px 20px;
}
#tabletitle{
    margin: 10px 0 0 10px;
    font-family: Copperplate Gothic Light;
    text-align: left;
}
#orderHistory {
    border-collapse: collapse;
    width: 100%;
}
#orderHistory th, #orderHistory td{
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    padding: 8px 20px 8px 8px;
}
#orderHistory tr th{
    font-weight: bold;
}
#orderHistory tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tablecontainer{
    margin: 25px 0 0 0;
}