/*   form  */

.formtemplate{
    background: #f1f1f1;
    width: 30%;
}
.section{
    margin: 20px 10px 10px 10px;
}
.section input{
            margin: 0 auto;
            padding: 5px 0 5px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
    
            height: 30px;
            border: 2px solid #e1dede69;
            border-radius: 5px;
            background: white;
            color: black;
            text-align: center;
            outline: none;
            font-size: 15px;
}
.section1{
    margin: 20px 10px 10px 10px;
}
.section1 input{
    
            margin: 0 auto;
            padding: 5px 0 5px 0;
            flex-direction: column;
            align-items: center;
            width: 44.5%;
    
            height: 30px;
            border: 2px solid #e1dede69;
            border-radius: 5px;
            background: white;
            color: black;
            text-align: center;
            outline: none;
            font-size: 15px;
}
.signup{
            margin: auto;
            font-size: 20px;
            padding: 8px;
            width: 280px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: rgb(75, 61, 61);
            background: #14b38a;
}
.options {
    padding-top: 15px;
    margin: auto;
    font-size: 13px;
}
.accept-box {
    align-items: center;
    margin: auto;
    font-size: 15px;
}
/*     order history card view     */
/*grid style*/
.gridorderhistory{
    display: grid;
    column-gap: 25px;
    grid-template-columns: auto auto auto;
}
/*search input*/
#searchInput{
    padding: 5px;
    font-size: 18px;
}
/*filter style*/
.filter{
    text-align: center;
    padding: 0 10px 0 10px;
    font-family: Copperplate Gothic Light;
    border-radius: 8px;
    height: 330px;
    margin: 80px 0 10px 20px;
    background: #fbb124;
}
.filter input{
    margin: 0 10px 0 0;
}
#filterheader{
    font-weight: bold;
    margin-bottom: 17px;
    margin-top: 17px;
}
.labelfont{
    font-size: 18px;
    font-family: candara;
}
#sortbutton{
    width: 65%;
    padding: 2px 0 2px 0;
    margin: 10px 0 0 0;
    border-radius: 8px;
}
/*order history table*/
#tabletitle{
    font-weight: bold;
    margin: 10px 0 0 10px;
    font-family: Copperplate Gothic Light;
    text-align: left;
}
#orderHistory {
    border-collapse: collapse;
    width: 100%;
}
#orderHistory th, #orderHistory td{
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    padding: 8px 20px 8px 8px;
}
#orderHistory tr th{
    font-weight: bold;
}
#orderHistory tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tablecontainer{
    margin: 25px 0 0 0;
}
/*grid right side*/
.ads{
    width: 300px;
    margin: 78px 0px 0 0;
}
.adimage{
    margin-top: 10px;
    height: 250px;
    width: 300px;
}
/*recommendations*/
.gridRecommendation{
    margin-bottom: 40px;
    display: grid;
    column-gap: 0px;
    grid-template-columns: auto auto auto auto auto;
}
#recommendationsTitle{
    margin: 40px 0 40px 20px;
}
#recommendationsTitle h3{
    font-weight: bold;
    font-family: Copperplate Gothic Light;
    text-align: left;
}
.itemRecommend{
    background: #eee;
    border: 1px solid black;
    margin: 5px;
}
.itemRecommend img{
    margin-top: 15px;
    width: 80%;
    height: 150px;  
}
.itemRecommend a{
    text-decoration:none; 
}
.itemRecommend h4{
    margin-bottom: 0px;
    margin-left: 30px;
    margin-top: 15px;
    text-align: left;
    font-family: Copperplate Gothic Light;
    color: black;
}
.itemRecommend p{
    margin-bottom: 0px;
    font-size: 18px;
    margin-left: 30px;
    text-align: left;
    font-family: candara;
}
.addtocart{
    margin: 15px 0 15px 0;    
    font-size: 20px;
    padding: 8px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(75, 61, 61);
    background: #14b38a;
}
/*   add product    */
.addproduct{
    margin: auto;    
    font-size: 20px;
    padding: 8px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(75, 61, 61);
    background: #14b38a;
}
.addproduct a{
    text-decoration: none;
    color: rgb(75, 61, 61);
}
.insertfile input{
            margin: 0 auto 5px auto;
            padding: 5px 0 5px 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 86%;
    
            height: auto;
            border: 2px solid #e1dede69;
            border-radius: 5px;
            background: white;
            color: black;
            text-align: center;
            outline: none;
            font-size: 15px;
}