/*Generic*/
/* Header: Admin */
#logo{
    width: 100%;
    height: 90px;
    background-color: white ;
    border-bottom: 1px solid black;
    box-shadow: 5px 10px #eee;
    list-style-position: inside;
    font-family: Montserrat ;
}

#logo img {
    float: left;
    width: 150px;
    height: 80px;
    margin: 5px 20px 0px 50px;
}
.AccBtn {
    width: 100px;
    font-family: candara;
    height: 80px;
    color: black;
    text-align: center  ;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    float: right;
    padding: 9px 9px 0px 9px;
}

.AccBtn:hover{
    text-decoration: none;
}

#navigation{
    background-color: lightgray;
    border-bottom: 1px solid black;
}
#nav {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.navv {
    width: 33.3%;
    float: left;
    
}
.navv a {
    color: black;
    font-family: Montserrat ;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 14px 50px;
    font-weight: bold;
    text-decoration: none;
}
.navv a:hover{
    background-color: white;
    text-decoration: none;
}

#login{
        margin-right: 50px;
}

/* Header: User */
.navbar2{
    box-shadow: 5px 10px #eee;
    padding: 12px 0px;
    border-bottom: 1px solid black;
}
.navbar2 a{
    font-family: Montserrat ;
    color: black;
}
.navimg{
    margin: 5px;
    width: 100px;
    height: 40px;
}

/* footer */

/* footer font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed {
    background: #3b4440;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    bottom: 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px 40px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin-left: 40px;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #f1f1f1;
    color: black;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #14b38a;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 2px;
    

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 5px;
    margin-bottom: 5px;
}
/*footer icons fb youtube twitter and insta*/

.facebook, .twitter, .youtube, .instagram{
    width: 100%;
    height: 100%;
} 


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

/* -- Maiada  -- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Oswald:wght@300;500&display=swap');

/* -- Maiada: Contact Us -- */

/* Subscription form */
.sign-up-container {
    width: 70%;
    margin-left: 70px;
    padding-top: 208.33333px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.paper {
    width: 85%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    top: -145px;
    padding: 1rem 1.4rem 125px 1.4rem;
    background: #fff;
    background: -webkit-linear-gradient(top, #f1f1f1 43%, #fff 100%);
    background: linear-gradient(to bottom, #f1f1f1 43%, #eee2b4 100%);
    color: #db4344;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

#SubsTitle {
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}

.text-input,
.subsbutton {
    box-sizing: border-box;
    padding: 0.8em 0.67em;
    margin-bottom: 0.5rem;
    background: transparent;
    border: none;
    border-radius: 2em;
    outline: none;
}

.subsbutton {
    border: 1px solid #999;
    -webkit-transition: background 0.1s, color 0.1s;
    transition: background 0.1s, color 0.1s;
}

.subsbutton:hover {
    background: #db4344;
    color: #fef8e1;
}

.text-input {
    background: #fff;
    color: #333;
}

.text-input::-webkit-input-placeholder {
    color: inherit;
    font-style: italic;
}

.text-input::-moz-placeholder {
    color: inherit;
    font-style: italic;
}

.text-input:-ms-input-placeholder {
    color: inherit;
    font-style: italic;
}

.text-input::placeholder {
    color: inherit;
    font-style: italic;
}

.sign-up-form {
    width: 100%;
}

.sign-up-form * {
    width: 100%;
}

.envelope {
    position: relative;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    background: #fa5b5c;
    border-radius: 24px;
}

.envelope:before {
    content: '';
    display: block;
    position: absolute;
    top: -240px;
    width: 0;
    height: 0;
    z-index: -1;
    border-width: 125px 200px;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #fa5b5c;
    border-radius: 24px;
}

.envelope:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    pointer-events: none;
    border-width: 125px 200px;
    border-style: solid;
    border-color: #db4344;
    border-top-color: transparent;
    border-radius: 24px;
}

.envelope .bottom-flap {
    width: 400px;
    height: 250px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    border-radius: 24px;
    overflow: hidden;
    pointer-events: none;
}

.envelope .bottom-flap:after {
    content: '';
    display: block;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 40%;
    border-radius: 24px;
    background: #fa5b5c;
    -webkit-transform: scaleY(0.7) rotate(45deg);
    transform: scaleY(0.7) rotate(45deg);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.submitted .paper {
    -webkit-animation: paper-in 0.8s ease-out;
    animation: paper-in 0.8s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.submitted .envelope:before {
    -webkit-animation: fold 0.5s ease-in;
    animation: fold 0.5s ease-in;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@-webkit-keyframes paper-in {
    30% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
        padding-bottom: 125px;
    }

    to {
        top: 10px;
        padding-bottom: 0;
    }
}

@keyframes paper-in {
    30% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
        padding-bottom: 125px;
    }

    to {
        top: 10px;
        padding-bottom: 0;
    }
}

@keyframes fold {
    from {
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        z-index: 10;
    }

    to {
        z-index: 10;
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-transform: rotateX(-180deg) translateY(10px);
        border-bottom-color: #fa5b5c;
    }
}

/* Contact Form: Style inputs */
#fname,
#phoneNum,
#desc,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.subsbutton {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.subsbutton:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.contactForm {
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 50px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* Create two columns that float next to eachother */
.contactFormcolumn {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.contactFormrow:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* -- Maiada: Cart -- */

.shopping-cart {
    width: 56%;
    padding: 50px;
    height: auto;
    margin: 80px auto;
    margin-top: 60p;
    border-radius: 5px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.carttitle {
    height: 60px;
    border-bottom: 1px solid #848a8f94;
    padding: 20px 30px;
    padding-top: 0;
    color: #5E6977;
    font-size: 25px;
    font-weight: 300;
}

/* Add here */

.chckout {
    float: right;
    width: 50%;
    padding-top: 20px;
    margin-right: 25px;
    border-top: 1px solid #848a8f94;
}

.Cartsummary {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Subtotal {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #202020;
    padding-left: 10px;
}

#itemsCnt {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

#total-amount {
    font-size: 24px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #202020;
}

.chkoutBtn {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #202020;
}

/* -- Maiada: User Account -- */
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.account-settings .accountDetails {
    margin: 2rem 0 0 0;
    text-align: center;
}

.account-settings .accountDetails h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}

.account-settings .accountDetails p {
    font-size: 0.825rem;
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.accountCard {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.accountBtn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

/* -- Maiada: Admin Stock Management -- */
.stockcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.stockcard {
    border-radius: 15px;
    padding-top: 10px;
    background-color: white;
    width: 100;

}

#test11:hover {
    transform: scale(0.98);
}

/*hagrass*/
.bodystyle{
    margin: 0;
}

/*   form  */
.formtemplate{
    margin-top: 30px;
    padding: 10px;
    background: #f1f1f1;
    width: 30%;
}
.section{
        font-family: Montserrat;
    margin: 20px 10px 10px 10px;
}
.section input{
            margin: 0 auto;
            padding: 5px 0 5px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
    
            height: 30px;
            border: 2px solid #e1dede69;
            border-radius: 5px;
            background: white;
            color: black;
            text-align: center;
            outline: none;
            font-size: 15px;
}
.section1{
    margin: 20px 10px 10px 10px;
}
.section1 input{
    
            margin: 0 auto;
            padding: 5px 0 5px 0;
            flex-direction: column;
            align-items: center;
            width: 44.5%;
    
            height: 30px;
            border: 2px solid #e1dede69;
            border-radius: 5px;
            background: white;
            color: black;
            text-align: center;
            outline: none;
            font-size: 15px;
}
.signup{
            margin: auto;
            font-size: 20px;
            padding: 8px;
            width: 280px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: rgb(75, 61, 61);
            background: #14b38a;
}
.options {
    padding-top: 15px;
    margin: 0 0 10px 0;
    font-size: 13px;
}
.accept-box {
    align-items: center;
    margin: 10px 0 0 0;
    font-size: 15px;
}
/*     order history card view     */
/*grid style*/
.gridorderhistory{
    display: grid;
    column-gap: 25px;
    grid-template-columns: auto auto auto;
}
/*search input*/
#searchInput{
    padding: 5px;
    font-size: 18px;
}
/*filter style*/
.filter{
    box-shadow: 5px 10px #eee;
    border: 1px solid black;
    text-align: center;
    padding: 0 10px 0 10px;
    font-family: Copperplate Gothic Light;
    border-radius: 8px;
    height: 300px;
    margin: 80px 0 10px 20px;
    background: #eee;
}
.filter input{
    margin: 0 10px 0 0;
}
#filterheader{
    font-weight: bold;
    margin-bottom: 17px;
    margin-top: 17px;
}
.labelfont{
    font-size: 18px;
    font-family: Montserrat;
}
#sortbutton{
    font-size: 19px;
    background: #14b38a;
    width: 65%;
    padding: 7px 0 7px 0;
    margin: 10px 0 0 0;
    border-radius: 8px;
}
/*order history table*/
#tabletitle{
    font-weight: bold;
    margin: 10px 0 0 10px;
    font-family: Copperplate Gothic Light;
    text-align: left;
}
#orderHistory {
    font-family: Montserrat;
    border-collapse: collapse;
    width: 100%;
}
#orderHistory th, #orderHistory td{
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    padding: 8px 20px 8px 8px;
}
#orderHistory tr th{
    font-weight: bold;
}
#orderHistory tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tablecontainer{
    margin: 25px 0 0 0;
}
/*grid right side*/
.ads{
    width: 300px;
    margin: 78px 0px 0 0;
}
.adimage{
    margin-top: 10px;
    height: 250px;
    width: 300px;
}
/*recommendations*/
.gridRecommendation{
    margin-bottom: 40px;
    display: grid;
    column-gap: 0px;
    grid-template-columns: auto auto auto auto auto;
}
#recommendationsTitle{
    margin: 40px 0 40px 20px;
}
#recommendationsTitle h3{
    font-weight: bold;
    font-family: Copperplate Gothic Light;
    text-align: left;
}
.itemRecommend{
    box-shadow: 5px 10px gray;
    background: #eee;
    border: 1px solid black;
    margin: 5px;
    padding: 0 5px 5px 5px;
}
.itemRecommend img{
    margin-top: 15px;
    width: 80%;
    height: 150px;  
}
.itemRecommend a{
    text-decoration:none; 
}
.itemRecommend h4{
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 15px;
    text-align: left;
    font-family: Montserrat;
    color: black;
}
.itemRecommend p{
    margin-bottom: 0px;
    font-size: 15px;
    margin-left: 30px;
    text-align: left;
    font-family: Montserrat;
    font-weight: 100;
}
.addtocart{
    margin: 15px 0 15px 0;    
    font-size: 20px;
    padding: 8px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(75, 61, 61);
    background: #14b38a;
}
/*   add product    */
.addproduct{
    margin:  10px 0 10px 0;    
    font-size: 20px;
    padding: 8px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(75, 61, 61);
    background: #14b38a;
}
#pagetitle{
    font-family: Montserrat;
    font-weight: bold;
}
.addproduct a{
    text-decoration: none;
    color: rgb(75, 61, 61);
}
.addproduct a:hover {
    color: rgb(75, 61, 61);
  text-decoration: none;
  cursor: pointer;
}
.insertfile input{
            margin: 0 auto 5px auto;
            padding: 5px 0 5px 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 65%;
    
            height: auto;
            border: 2px solid #e1dede69;
            border-radius: 5px;
            background: white;
            color: black;
            text-align: center;
            outline: none;
            font-size: 15px;
}

#totop img{
    position: fixed;
    bottom: 0;
    right: 5px;
    width: 40px;
    height: 40px;
}
/*assem*/
.home-mid-h1
{
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
 .home-mid-p
{
     text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
}
.home-discovery-h2
{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
}
.home-discovery-p
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 20px;
}
.about-title
{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-align: left; 
    padding-left: 95px;
}
.about-title-main
{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center; 
    padding-left: 50px;
}
.about-p
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
     width: 70%;
    font-size: 30px;
    padding-left: 95px;
    text-align: left;
}
.about-p-main
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
     width: 50%;
    font-size: 30px;
    padding-left: 50px;
    text-align: center;
    align-content: center;
}

.about-mid
{
    
}
.about-container
{
    display: flex;
}
.about-img
{
    width:auto;
    
}
----------     
.slideshow{
  margin: 0;
  padding-left: 0 ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.slider{
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
    align-content: center;
   justify-content: center

    
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;

}

.manual-btn{
  border: 2px solid #14b38a;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
 
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
   
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}



.container-home{

	position: relative;
	width:1100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	
}

.container-home .card{
	width:308px;
	position: relative;
	height: 600px;
	background: #f0f0f0;
	margin:30px 10px;
	padding: 20px 15px;
	display:flex;
	flex-direction: column;
	box-shadow: 0.5px 10px #e6e6e6;
	transition:0.3s ease-in-out;
	margin-top: 5%;
}
.container-home .card .imgBx{
	position: relative;
	width:260px;
	height: 260px;
	top: -60px;
	left:20px;
	box-shadow: 0 5px 20px rbga (0,0,0,1.2);

}

.container-home .card .imgBx img
{
	max-width: 100%;
   
	border-radius: 10px;
}

.imgBx:hover img{
	transform: scale(1.1);
}


.app-icons
{
    display:flex;
    padding-right:20px;
    align-content: center;
    justify-content: center;
    
}
.app-icons img
{
    height:125px;
    width:300px;
    padding-right: 15px;
}
.download-info-h2
{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.download-info-p
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    text-align: center;
}
.application-img
{
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* seif */
/* Login*/
.register-photo {
    background: #f1f7fc;
    padding: 80px 0;

}

.register-photo .image-holder {
    display: table-cell;
    width: 50%;

}

.image-holder img{
   width: 100%;
}

.register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 40px 60px;
    color: #505e6c
}

@media (max-width:991px) {
    .register-photo form {
        padding: 40px
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control {
    background: transparent;
    border: none;
    color: #61acb3;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary {
    background: #61acb3;
    border: none;
    border-radius: 25px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
}

.register-photo form .btn-primary:hover,
.register-photo form .btn-primary:active {
    background: #61acb3
}

.register-photo form .btn-primary:active {
    transform: translateY(1px)
}

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
}

/* Fruits & Veggies*/


.header-fruits{
    font-size: 24px;
    color: #14b38a;;
}

.wrapper-fruits {
    margin: 30px;
    height: 400px;
}
.product-details span{
    text-align: center;
}

.row{
    margin: 10px;
}

.carddd {
    border: 1px solid #eee;
    cursor: pointer
}

.weight {
    margin-top: -65px;
    transition: all 0.5s;
}

.weight small {
    color: #14b38a;
    font-size: 16px;
    font-style: italic;
}

.buttttons {
    padding: 10px;
    background-color: #d6d4d44f;
    border-radius: 4px;
    position: relative;
    margin-top: 7px;
    opacity: 0;
    transition: all 0.8s
}

.dot {
    height: 14px;
    width: 14px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    color: #fff;
    opacity: 0
}
.btn btn-block {
    width: 10%;
}
.cart-button {
    height: 48px;
}

.cart-button:focus {
    box-shadow: none
}

.cart {
    height: 48px !important;
    width: 50px;
    margin-right: 8px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
    transition: 1s ease-in-out;
    overflow: hidden;
}

.cart-button.clicked span.dot {
    animation: item 0.3s ease-in forwards
}

.carddd:hover .buttttons {
    opacity: 1
}

.carddd:hover .weight {
    margin-top: 10px
}

.carddd:hover {
    transform: scale(1.04);
    z-index: 2;
    overflow: hidden;
}
@keyframes item {
    0% {
        opacity: 1;
        top: 30%;
        left: 30%
    }

    25% {
        opacity: 1;
        left: 26%;
        top: 0%
    }

    50% {
        opacity: 1;
        left: 23%;
        top: -22%
    }

    75% {
        opacity: 1;
        left: 19%;
        top: -18%
    }

    100% {
        opacity: 1;
        left: 14%;
        top: 28%
    }
}

.ads-fruit{
    width: 300px;
    margin: 20px 20px 0 0;
    float: right
}
.adimage-fruit{
    margin-top: 50px;
    height: 250px;
    width: 300px;
}


/*Checkout*/

.formtemplate-checkout{
    background: #f1f1f1;
    width: 30%;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 5px 5px 30px 3px #888888;
    padding-top: 20px;
    padding-bottom: 20px;
}
.section-checkout{
    margin: 20px 10px 10px 10px;
}
.checkout-button{
            margin: 20px;
            font-size: 20px;
            padding: 8px;
            width: 280px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            background: #3b4440;
}
